@if(formModel() && formData()) {
    <form (submit)="submit($event)">
        <div [class]="formData()!.cssClasses">
            @if(formData()!.formType === getFormType().REGULAR) {
            <h3>{{formData().title}}</h3>
            }
            @for(field of formData()!.formFields; track $index) {
            <div [class]="field.cssClasses">
                @if(field.inputType === getfieldTypeEnum().INPUT_TEXT) {
                    <mat-form-field>
                        <mat-label>{{ field.label }}</mat-label>
                        <input type="text" matInput [formField]="getField(field.property)">
                    </mat-form-field>
                }
                @if(field.inputType === getfieldTypeEnum().INPUT_TEXT_CALLBACK) {
                    <mat-form-field>
                        <mat-label>{{ field.label }}</mat-label>
                        <input type="text" matInput [formField]="getField(field.property)">
                    </mat-form-field>
                    <div class="row callback-data g-1">
                        @let value = getValue(field.property);
                        @if(value) {
                        <strong>{{ field.label }}: </strong>{{getValue(field.property)}}
                        }
                    </div>
                }
                @if(field.inputType === getfieldTypeEnum().INPUT_TEXT_AUTOCOMPLETE) {
                    <mat-form-field>
                        <mat-label>{{ field.label }}</mat-label>
                        <input type="text" matInput [formField]="getField(field.property)" [matAutocomplete]="auto"
                            #inputAutocomplete>
                        <mat-autocomplete #auto="matAutocomplete">
                            @for (option of getFilteredOptions(field.property, inputAutocomplete.value); track $index) {
                            <mat-option [value]="option">
                                {{ option }}
                            </mat-option>
                            }
                        </mat-autocomplete>
                    </mat-form-field>
                }
                @if(field.inputType === getfieldTypeEnum().INPUT_TEXT_AUTOCOMPLETE_CALLBACK) {
                    <mat-form-field>
                        <mat-label>{{ field.label }}</mat-label>
                        <input type="text" matInput [formField]="getField(field.property)" [matAutocomplete]="auto"
                            #inputAutocomplete>
                        <mat-autocomplete #auto="matAutocomplete">
                            @for (option of getFilteredOptions(field.property, inputAutocomplete.value); track $index) {
                            <mat-option [value]="option">
                                {{ option }}
                            </mat-option>
                            }
                        </mat-autocomplete>
                    </mat-form-field>
                    <div class="row callback-data g-1">
                        @let value = getValue(field.property);
                        @if(value) {
                        <strong>{{ field.label }}: </strong>{{getValue(field.property)}}
                        }
                    </div>
                }
                @if(field.inputType === getfieldTypeEnum().INPUT_NUMBER_INT) {
                    <mat-form-field>
                        <mat-label>{{ field.label }}</mat-label>
                        <input type="number" matInput [formField]="getField(field.property)" step="1">
                    </mat-form-field>
                }
                @if(field.inputType === getfieldTypeEnum().INPUT_NUMBER_INT_CALLBACK) {
                    <mat-form-field>
                        <mat-label>{{ field.label }}</mat-label>
                        <input type="number" matInput [formField]="getField(field.property)" step="1">
                    </mat-form-field>
                    <div class="row callback-data g-1">
                        @let value = getValue(field.property);
                        @if(value) {
                        <strong>{{ field.label }}: </strong>{{getValue(field.property)}}
                        }
                    </div>
                }
                @if(field.inputType === getfieldTypeEnum().INPUT_NUMBER_FLOAT) {
                    <mat-form-field>
                        <mat-label>{{ field.label }}</mat-label>
                        <input type="number" matInput [formField]="getField(field.property)" step=".01">
                    </mat-form-field>
                }
                @if(field.inputType === getfieldTypeEnum().INPUT_NUMBER_FLOAT_CALLBACK) {
                    <mat-form-field>
                        <mat-label>{{ field.label }}</mat-label>
                        <input type="number" matInput [formField]="getField(field.property)" step=".01">
                    </mat-form-field>
                    <div class="row callback-data g-1">
                        @let value = getValue(field.property);
                        @if(value) {
                        <strong>{{ field.label }}: </strong>{{getValue(field.property)}}
                        }
                    </div>
                }
                @if(field.inputType === getfieldTypeEnum().INPUT_DATE) {
                    <mat-form-field>
                        <mat-label>{{ field.label }}</mat-label>
                        <input matInput [matDatepicker]="picker" [formField]="getField(field.property)">
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker startView="year"></mat-datepicker>
                    </mat-form-field>
                }
                @if(field.inputType === getfieldTypeEnum().INPUT_DATE_CALLBACK) {
                    <mat-form-field>
                        <mat-label>{{ field.label }}</mat-label>
                        <input matInput [matDatepicker]="picker" [formField]="getField(field.property)">
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker startView="year"></mat-datepicker>
                    </mat-form-field>
                    <div class="row callback-data g-1">
                        @let value = getValue(field.property);
                        @if(value) {
                        <strong>{{ field.label }}: </strong>{{getValue(field.property)}}
                        }
                    </div>
                }
                @if(field.inputType === getfieldTypeEnum().INPUT_SELECT) {
                    <mat-form-field>
                        <mat-label>{{ field.label }}</mat-label>
                        <mat-select [formField]="getField(field.property)">
                            @for (option of getOptions(field.property); track $index) {
                            <mat-option [value]="option">{{option}}</mat-option>
                            }
                        </mat-select>
                    </mat-form-field>
                }
                @if(field.inputType === getfieldTypeEnum().INPUT_SELECT_CALLBACK) {
                    <mat-form-field>
                        <mat-label>{{ field.label }}</mat-label>
                        <mat-select [formField]="getField(field.property)">
                            @for (option of getOptions(field.property); track $index) {
                            <mat-option [value]="option">{{option}}</mat-option>
                            }
                        </mat-select>
                    </mat-form-field>
                    <div class="row callback-data g-1">
                        @let value = getValue(field.property);
                        @if(value) {
                        <strong>{{ field.label }}: </strong>{{getValue(field.property)}}
                        }
                    </div>
                }
                @if(field.inputType === getfieldTypeEnum().INPUT_SELECT_MULTI) {
                    <mat-form-field>
                        <mat-label>{{ field.label }}</mat-label>
                        <mat-select [formField]="getField(field.property)" multiple>
                            @for (option of getOptions(field.property); track $index) {
                            <mat-option [value]="option">{{option}}</mat-option>
                            }
                        </mat-select>
                    </mat-form-field>
                }
                @if(field.inputType === getfieldTypeEnum().INPUT_SELECT_MULTI_CALLBACK) {
                    <mat-form-field>
                        <mat-label>{{ field.label }}</mat-label>
                        <mat-select [formField]="getField(field.property)" multiple>
                            @for (option of getOptions(field.property); track $index) {
                            <mat-option [value]="option">{{option}}</mat-option>
                            }
                        </mat-select>
                    </mat-form-field>
                    <div class="row callback-data g-1">
                        @let value = getValue(field.property);
                        @if(value) {
                        <strong>{{ field.label }}: </strong>{{getValue(field.property)}}
                        }
                    </div>
                }
                @if(field.inputType === getfieldTypeEnum().INPUT_TEXTAREA) {
                    <mat-form-field>
                        <textarea [rows]="getAttribute(field.property, 'rows')" [cols]="getAttribute(field.property, 'cols')"
                            matInput [placeholder]="field.label" [formField]="getField(field.property)">
                                    </textarea>
                    </mat-form-field>
                }
                @if(field.inputType === getfieldTypeEnum().INPUT_TEXTAREA_CALLBACK) {
                <mat-form-field>
                        <textarea [rows]="getAttribute(field.property, 'rows')" [cols]="getAttribute(field.property, 'cols')"
                            matInput [placeholder]="field.label" [formField]="getField(field.property)">
                                    </textarea>
                    </mat-form-field>
                    <div class="row callback-data g-1">
                        @let value = getValue(field.property);
                        @if(value) {
                        <strong>{{ field.label }}: </strong>{{getValue(field.property)}}
                        }
                    </div>
                }
                @if(field.inputType === getfieldTypeEnum().RADIO_BUTTON_GROUP) {
                    <h3>{{ field.label }}</h3>
                    <mat-radio-group [aria-label]="field.label" [formField]="getField(field.property)">
                        <div [class]="field.cssClasses">
                            @for(option of getKeyValuePairs(field.property); track $index) {
                            <mat-radio-button [value]="option.value">{{ option.label }}</mat-radio-button>
                            }
                        </div>
                    </mat-radio-group>
                }
                @if(field.inputType === getfieldTypeEnum().RADIO_BUTTON_GROUP_CALLBACK) {
                    <h3>{{ field.label }}</h3>
                    <mat-radio-group [aria-label]="field.label" [formField]="getField(field.property)">
                        <div [class]="field.cssClasses">
                            @for(option of getKeyValuePairs(field.property); track $index) {
                            <mat-radio-button [value]="option.value">{{ option.label }}</mat-radio-button>
                            }
                        </div>
                    </mat-radio-group>
                    <div class="row callback-data g-1">
                        @let value = getValue(field.property);
                        @if(value) {
                        <strong>{{ field.label }}: </strong>{{getValue(field.property)}}
                        }
                    </div>
                }
                @if(field.inputType === getfieldTypeEnum().CHECKBOX) {
                    <mat-checkbox [formField]="getField(field.property)">{{ field.label }}</mat-checkbox>
                }
                @if(field.inputType === getfieldTypeEnum().CHECKBOX_CALLBACK) {
                    <mat-checkbox [formField]="getField(field.property)">{{ field.label }}</mat-checkbox>
                    <div class="row callback-data g-1 align-text-and-icon">
                        @let value = getValue(field.property);
                        @if(value) {
                        <strong>{{ field.label }}: </strong><mat-icon>check</mat-icon>
                        }
                    </div>
                }
                @if(field.inputType === getfieldTypeEnum().SLIDE_TOGGLE) {
                    <mat-slide-toggle [formField]="getField(field.property)">{{ field.label }}</mat-slide-toggle>
                }
                @if(field.inputType === getfieldTypeEnum().SLIDE_TOGGLE_CALLBACK) {
                    <mat-slide-toggle [formField]="getField(field.property)">{{ field.label }}</mat-slide-toggle>
                    <div class="row callback-data g-1 align-text-and-icon">
                        @let value = getValue(field.property);
                        @if(value) {
                        <strong>{{ field.label }}: </strong><mat-icon>check</mat-icon>
                        }
                    </div>
                }
                @if(field.inputType === getfieldTypeEnum().FORM_ARRAY && field.formArray) {                
                    <app-dynamic-signal-form-array
                        [formData]="field.formArray"
                        (formValueChange)="updateChanges($event, field.property)">
                    </app-dynamic-signal-form-array>
                }
            </div>
            }
            @if(formData()!.formType === getFormType().REGULAR) {
                <div class="row callback-data g-1">
                    <button type="submit" mat-raised-button color="primary">
                        <mat-icon>arrow_right</mat-icon>
                        <span>Submit</span>
                    </button>
                </div>
            }
        </div>
    </form>
}