<div class="column p-2 w-50">    
    @if(allForms$ | async; as forms) {
        <h3>Available forms:</h3>
        @if(forms.length > 0) {
            <table class="w-50">
                <thead>
                    <tr>
                        <th>View</th>
                        <th>Form Description</th>
                        <th>Edit</th>
                    </tr>
                </thead>
                <tbody>
                    @for(form of forms; track form.id) {
                        <tr>
                            <td>
                                <button type="button" mat-icon-button color="primary" [routerLink]="['/signal-form', form.id]" [disabled]="form.formType === getFormType().FORM_ARRAY">
                                    <mat-icon>visibility</mat-icon>
                                </button>
                            </td>
                            <td>
                                {{ form.title }}
                            </td>
                            <td>
                                 <button type="button" mat-icon-button color="primary"  [routerLink]="['/create-or-update', form.id]">
                                    <mat-icon>edit</mat-icon>
                                </button>
                            </td>
                        </tr>   
                    }
                </tbody>
            </table>
        } @else { 
            <p>There are no Forms Available.</p>
        }
    }
</div>