<nav class="container-flex-row ">    
    <ul>
        <li>
            <button type="button" mat-raised-button color="primary" [routerLink]="['/']">
                <mat-icon>home</mat-icon>
                <span>Home</span>
            </button>
        </li>
        <li>
            <button type="button" mat-raised-button color="primary" [routerLink]="['/create-or-update', undefined]">
                <mat-icon>add</mat-icon>
                <span>Create Form</span>
            </button>
        </li>
    </ul>
</nav>
<router-outlet></router-outlet>