// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;
@use 'ngx-toastr/toastr';

html {
  height: 100%;
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
  height: 100%;
}
/* You can add global styles to this file, and also import other style files */

.callback-data {
  padding-left: 8px;
  margin-bottom: 16px;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.fx-space-between {
  justify-content: space-between;
}

.p-1 {
  padding: 16px;
}

.p-2 {
  padding: 32px;
}

.pt-half {
  padding-top: 8px;
}

.pt-1 {
  padding-top: 16px;
}

.w-100 {
  width: 100%;
}

.w-75 {
  width: 75%;
}

.w-50 {
  width: 50%;
}

.w-25 {
  width: 25%;
}

.g-1 {
  gap: 8px;
}

.mb-1 {
  margin-bottom: 16px;
}

.ms-1 {
  margin-left: 16px;
}

.me-1 {
  margin-right: 16px;
}

.align-text-and-icon {
  align-items: center;
}

.border-1 {
  border: 1px solid #000;
  border-radius: 5px;
}

.button-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);    
  grid-template-rows: repeat(auto, 1fr);
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  padding: 8px;
}