<form (submit)="submit($event)">
  <div class="col w-50">
    <h3>{{ isUpdateMode() ? 'Update ' : 'Create ' }} {{ formType() }}</h3>
    <div class="row">
      @if(allowedInputTypes().length > 0) {
        <mat-form-field>
          <mat-label>Input Type</mat-label>
          <mat-select [formField]="inputForm.inputType">
            @for(option of allowedInputTypes(); track $index) {
              <mat-option [value]="option">{{option}}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      }
    </div>
    <div class="row">
      <mat-form-field>
        <mat-label>Label</mat-label>
        <input type="text" matInput [formField]="inputForm.label" />
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field>
        <mat-label>Property</mat-label>
        <input type="text" matInput [formField]="inputForm.property" />
      </mat-form-field>
    </div>
    @if(formType() === getFormType().RADIO_BUTTON_GROUP) {
      <div class="row">
         <mat-form-field>
           <mat-label>Property Type</mat-label>
           <mat-select [formField]="inputForm.propertyType">
              @for(option of allowedPropertyTypesRadioGroup; track $index) {
                <mat-option [value]="option">{{option}}</mat-option>
              }
           </mat-select>
         </mat-form-field>
      </div>
    }
    <div class="row">
      <mat-form-field>
        <mat-label>Initial Value</mat-label>
        <input type="text" matInput [formField]="inputForm.initialValue" />
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field>
        <mat-label>CSS Classes</mat-label>
        <input type="text" matInput [formField]="inputForm.cssClasses" />
      </mat-form-field>
    </div>
    <div class="row">
      <button type="submit" mat-raised-button color="primary">
        <mat-icon>arrow_right</mat-icon>
        <span>{{ this.isUpdateMode() ? 'Update Input' : 'Create Input' }}</span>
      </button>
    </div>
  </div>
</form>
<app-validations [(validations)]="inputForm().value().validations" [formType]="formType()"></app-validations>
<app-options [(options)]="this.inputForm().value().options" [formType]="formType()"></app-options>